Debug/
Release/
x64/
WasmCatena.vcxproj
WasmCatena.vcxproj.filters
WasmCatena.vcxproj.user
WasmCatena.VC.VC.opendb
WasmCatena.VC.db
WasmCatena.sln
.vs/
cpp-wasm.sln
cpp-wasm.vcxproj
cpp-wasm.vcxproj.filters
check_compilation
test/test
bench*.txt
.cproject
.project
.settings/*
bin/*
lib/*
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
Testing/
catena/CatenaConfig.cmake
catena/Makefile
Makefile
catena/include/config.h
catena/test/test.cpp
build/*
